.eb-countdown-items {
	display: flex;
	flex: 1;
	line-height: 1.8;
}
.eb-countdown-item {
	list-style: none;
	border: 3px;
	display: flex;
	align-items: center;
}

.eb-countdown-days,
.eb-countdown-hours,
.eb-countdown-minutes,
.eb-countdown-seconds {
	height: 100%;
	width: 100%;
}

// Typography style
.eb-typography-base div {
	display: flex;
	justify-content: space-between;
}

.rdt input {
	width: 100%;
}
.eb-countdown-digits {
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
.eb-countdown-activated .eb-countdown-digits {
	opacity: 1;
}
